## Citation for the following functions:
## Date: 5/21/2025
## Adapted from: "Exploration - Web Application Technology"
## Source URL: https://canvas.oregonstate.edu/courses/1999601/pages/exploration-web-application-technology-2?module_item_id=25352948

{% extends "main.j2" %}
{% block content %}

<h1>Home page</h1>
<div class="homepageDescription">
    <p>Database project for Instru-Mentality Sales System. Created by Alexis Collins and Josh Flenniken.</p>
</div>

{% endblock %}
