<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CS340 - Instru-Mentality</title>
    <link href='static/style.css' rel='stylesheet' />
</head>
<body>
    <nav>
        Navigation: 
        <a href="/">Home</a>
        <a href="/customers">Customers</a>
        <a href="/employees">Employees</a>
        <a href="/orders">Orders</a>
        <a href="/products">Products</a>
        <a href="/orderdetails">Order Details</a>
    </nav>

    {% block content %}{% endblock %}

</body>
</html>